{% extends 'tours/base.html' %}
{% load ru_pluralize %}
{% block container %}
  <main class="container mt-3">
    <h1 class="display-5 mt-4">Летим из {{ active_departure }}</h1>
    {% if nights.0 != nights.1 %}
      <p class="mb-4">Найдено {{ quantity|ru_pluralize:"тур,тура,туров" }}, от {{ prices.0 }} до {{ prices.1 }}, от {{ nights.0 }} до {{ nights.1 }} ночей</p>
    {% else %}
      <p class="mb-4">Найдено {{ quantity|ru_pluralize:"тур,тура,туров" }}, от {{ prices.0 }} до {{ prices.1 }}, {{ nights.0 }} ночей</p>
    {% endif %}
    <!-- CARDS -->
    {% include 'tours/cards.html' %}
  </main>
{% endblock %}